*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans';
}
nav{
    background: #0082e6 ;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
   float: right;
   margin-right: 20px;  
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background:#1b9bff;
    transition: .5s;
} 
.checkbtn{
  font-size: 30px; 
  color: white; 
  float: right;
  line-height: 80px;
  margin-right:40px;
  cursor: pointer; 
  display: none;
}
#check{
  display: none;  
}
@media (max-width: 850px){
   label.logo{
    font-size: 15px;
    padding: 25px;
   }
   nav ul li a{
    font-size: 15px;

   } 
}
section{
    background: url(https://img.freepik.com/premium-photo/dark-home-decor-with-blue-furniture_208112-69.jpg?w=2000) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.page-title{
    text-align: center;
    font-size: 50px;
    padding: 200px;
    color: white;
    letter-spacing:10px;
    text-shadow: 0 0 5px #2c3e50;
}
.description, .title{
   font-variant: small-caps; 
   font-size: 15px;
   margin: 150px;
   padding-bottom: 50px;
   color: aliceblue;

}
.page-blocks{
    text-align: center;
    margin-top: 50px;
}
.title{
    letter-spacing: 10px;
    color:#2c3e50;
    text-align: center;
    font-size: 30px;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.more-designs-btn{
   background: transparent;
   border:2px solid #2c3e50;
   color:#2c3e50;
   font-weight: 300;
   padding: 10px;
   margin: 10px;
   letter-spacing: 2px;
    display: block;
   margin-left: auto;
   margin-right: auto;

}
.more-designs-btn:hover{
    background: #2c3e50;
    color: white;
    transition:all 0.5s;
}
.flex-block{
   display: flex;
   flex-wrap: wrap; 
   justify-content: center;
   overflow: hidden;
}
.why-us-flex-item{
   background: #2c3e50;
   color: white;
    width: 20%;
    padding: 40px;
    margin: 20px;
    font-family: 'Gill Sans';
}
.block-label{
   font-variant: small-caps; 
   font-size: 20px;
   margin-bottom: 20px;
   letter-spacing: 5px;
   font-family: 'Gill Sans'
}
.block-description{
    text-align: justify;
    font-family: 'Gill Sans',;
}
.block-numbers{
   font-weight: bold; 
   font-size: 25px;
   padding: 20px;
   font-family: 'Gill Sans', ;
}
.appointment-flex-item{
    background: #2c3e50;
    color: white;
    height: 450px;
    width: 45%;
    padding: 0px;
    margin: 20px 0px;
    overflow: hidden;
}
.appointment-img{
    background:url(https://kaleela.com/wp-content/uploads/2021/08/How-to-Make-an-Appointment-in-Arabic-with-Just-About-Anyone-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}   
.appointment-text{
   padding: 200px 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: oblique;
   font-size: 50px;
   background: rgba(0, 0, 0, 0.5)
}
.appointment-form{
   padding: 20px; 
}
.appointment-form input, textarea{
    width: 60%;
    max-width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
    color: #2c3e50;
    font-size: 16px;
}
.appointment-forms textarea{
    height: 100px;
    max-height: 100px;
    max-width: 60%;
    overflow-y: scroll;
}
.appointment-btn{
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 15px;
    outline: none;
}
.appointment-btn:hover{
    background: white;
    color: #2c3e50;

}
.footer{
   background: #2c3e50;
   text-align: center;
   padding: 20px; 
   margin-top: 40px;
}
.location{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 27%;
    letter-spacing: 5px;
    font-variant: small-caps;
    padding: 20px;
}
.buttons{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background:#ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    background: linear-gradient(315deg, #ffffff 0% #d7e1ec 74%);
}
.buttons:hover{
    width: 200px;

}
.buttons .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
}
.buttons .icon i{
    font-size: 25px;
    line-height: 60px;

}
.buttons span{
    font-size: 10px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
